/*****************fade-in****************************/
main {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
/**************blink*****************/

.title {
  font-family: 'Srisakdi', cursive,'Indie Flower', cursive,'Josefin Sans', sans-serif;
  font: 100 15vh "Vibur";
}
.title span{
  animation: blink linear infinite 10s;
  color: white;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: white;
  }
  80% {
    text-shadow: none;
  }/*
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #ff3e6e;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }*/
}

/*************↑blink↑****************/


/**************************************/
/*******************all****************/
.wrapper {
    /*background: url(../images/back06.png) no-repeat;*/
    background-color: #ccc;
    background-size: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

/**************header****************/
header {
    height: 50%;
    width: 15%;
    position: absolute;
    right: 8%;
    bottom: 20%;
}
li {
    font-size: 50px;
    text-align: right;
    padding: 8%;
}
a {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #ff3e6e;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}
/*************↑header↑***************/

/**************main******************/

 h2 {
    font-size: 50px;
    text-align: center;
    width: auto;
    height: 10%;
    margin: 0 auto;
    position: fixed;
    top: 4%;
    left: 0;
    right: 0;
    color: black;
}
.main {
    margin: 0 auto;
    padding: 0;
    width: 55%;
    height: 65%;
    position: relative;
    top: 15%;
    right: 0;
    left: 0;
    color: #333;
    border: 3px dashed #ff3e6e;
    border-radius: 1%;
}
/*************↑main↑***************************/

/****************↑all↑*************************/
/**********************************************/

/*****************↓page-top↓*********************/
.title {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 35%;
    right: 0;
    left: 0;
    color: #ccc;
    text-align: center;
    width: min-content;
}
.title a:hover{
    color: #eee;
}
.title a:hover::after {
  transform: scale(0, 0);
}
/*****************↑page-top↑*********************/

/*****************↓page-profile↓************************/
.content {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    height: 95%;
    position: relative;
    top: 2%;
    right: 0;
    left: 0;
    color: #ccc;
    background: #eee;
    border: 3px solid #eee;
    border-radius: 1%;
}

.profile-illust {
    padding: 0;
    background: url(../images/back-round02.png) no-repeat;
    float: left;
    text-indent: -9999px;
    background-size: contain;
    width: 30%;
    height: 95%;
    margin: 1.5% 2% 2% 4%;
}
.illust-img {
  width: 100%;
  height: 100%;
}
.profile-content {
    position: absolute;
    top: 12%;
    left: 38%;
    height: 80%;
    width: 60%;
    font-size: 120%;
}
.profile-content-p {
  margin: 1% 5% 7% 27%;
}
.profile-content-p:first-child {
  color: red;
  margin-top: 0;
}

/*****************↑page-profile↑************************/

/*****************↓page-portfolio↓**************************/
/*****************↑page-portfolio↑**************************/

/*****************↓page-skill↓**************************/
/*****************↑page-skill↑**************************/

/*****************↓page-contact↓**************************/
/*****************↑page-contact↑**************************/


/*****************↓smart-phone↓**************************/
@media screen and (max-width: 500px) {

  .wrapper {
    border: 5px double #ff3e6e;
    border-radius: 5px;
  }
  header {
    position: fixed;
    bottom: 1.2%;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 18%;
    width: 80%;
  }
  header ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  header ul li {
    font-size: 150%;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
  }
  header ul li:nth-child(1) {
    left: -1%;
  }
  header ul li:nth-child(2) {
    left: 25%;
  }
  header ul li:nth-child(3) {
    left: 58%;
  }
  header ul li:nth-child(4) {
    left: 77%;
  }
  h2 {
    top: 0;
  }

/*****************↓smart-profile↓**************************/
  .profile-content-p {
    margin-bottom: 0;
  }
/*****************↑smart-profile↑**************************/

}
/*****************↑smart-phone↑**************************/
/********************************************************/